<div class="wrapper">
	<header class="header">
		<strong>My Shop Header:</strong> 
	</header><!-- .header-->

	<div class="middle">

		<div class="container">
			<main class="content">
				<product-details></product-details>
			</main><!-- .content -->
		</div><!-- .container-->

		<aside class="left-sidebar">
			<product-list></product-list>	  
    	</aside><!-- .left-sidebar -->

		<aside class="right-sidebar">
			<cart-list></cart-list>
		</aside><!-- .right-sidebar -->

	</div><!-- .middle-->

	<footer class="footer">
		<strong>My Shop Footer:</strong> 
	</footer><!-- .footer -->

</div>


